<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1 class="text-center"><%= current_user.username.titleize << "'s"|| "My" %> Todo List</h1>
<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>Days Left</th>
    <th>Complete?</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.description %></td>
    <td>days left</td>
    <td><%= task.complete %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="3"><%= link_to "Create New Todo", new_task_path %></td>
  </tr>
</table>
</div>
</div>
