<% if @task.completed %>
  $('.alertrow').prepend("<div class='alert alert-success'><%= flash[:notice] %> <button type='button' class='close' data-dismiss='alert'>&times;</button></div>");
  $('#taskrow-<%= @task.id %>').hide();
<% else %>
  $('.alertrow').prepend("<div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>