<div class="jumbotron">
<h1>Welcome to a Todo App</h1>
<p>It's a race against time!</p>
<p>Complete your todo before 7 days pass or it disappears forever</p>
</div>
<p><%= link_to "Visit the Github Repo", "https://github.com/tienyuan/todoapp" %></p>